/* CSS files add styling rules to your content */

@import url("https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap");

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-family: "Rubik Microbe", cursive;
  font-size: 3em;
  color: #01bfaf;
}

#story {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
}
